@model IEnumerable<PMQL_banhang.Models.NhanVien>

@{
    ViewBag.Title = "Nhân viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách nhân viên </h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <label>Mã nhân viên</label>
        </th>
        <th>
            <label>Họ</label>
        </th>
        <th>
            <label>Tên</label>
        </th>
        <th>
            <label>Địa chỉ</label>
        </th>
        <th>
            <label>Số điện thoại</label>
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HoNV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaChi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DienThoai)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaNV }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaNV }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaNV })
        </td>
    </tr>
}

</table>
