@model List<PMQL_banhang.Models.GioHang>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
@if (Model == null)
   {
    <p class="text-info text-center" >
        chưa có sản phẩm trong giỏ hàng
    </p>
   }
else
   {
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <th>Mã hàng</th>
                        <th>Tên hàng</th>
                        <th>Số lượng</th>
                        <th>Đơn giá</th>
                        <th>Thành tiền</th>
                        <th></th>
                    </tr>
                    
                        @foreach(var item in Model)
                         {
                            <tr>
                                <td class="text-center">@item.MaSP</td>
                                <td><a target="_blank" href="@Url.Action("Details","SanPhams",new {id = item.MaSP })">@item.TenSP</a></td>
                                <td>
                                    <form action="@Url.Action("Update")" method = "get">
                                        <input type="hidden" name="MaSP" value="@item.MaSP" />
                                        <input type="number" min="1" name="txtSoLuong" value="@item.SoLuong"/>
                                        <button type="submit" class="btn btn-success btn-sm" >Cập nhật</button>
                                    </form>
                                </td>
                                <td>@item.DonGia.ToString() VNĐ</td>
                                <td>@item.ThanhTien.ToString() VNĐ</td>
                                <td>
                                    <a href="@Url.Action("Xoagiohang", new { MaSP = item.MaSP})" onclick="return confirm('xóa sản phẩm này?');" class="btn btn-danger btn-sm">Xóa sản phẩm này</a>
                                </td>
                            </tr>
                         }
                    <tr>
                        <td></td>
                        <td class="text-right">Tổng số lượng</td>
                        <td>@Model.Sum(m=>m.SoLuong)</td>
                        <td class="text-right"> Tổng thành tiền</td>
                        <td>@Model.Sum(m=>m.ThanhTien)</td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
   }

