@model IEnumerable<PMQL_banhang.Models.LoaiSP>

@{
    ViewBag.Title = "Loại sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Các loại sản phẩm của cửa hàng</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <label>Mã loại sản phẩm</label>
        </th>
        <th>
            <label> Loại sản phẩm</label>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.MaLoaiSP)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TenLoaiSP)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.MaLoaiSP }) |
        @Html.ActionLink("Details", "Details", new { id = item.MaLoaiSP }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.MaLoaiSP })
    </td>
</tr>
}

</table>
